.teaserWrap
  .teaserFull
    .subscribePlate
      .subHead
        %p Subscribe for Beta
      .subDesc
        %p Enter your email for receiving updates about timetable's progress
        = form_for :user, url: subscribe_newsletter_path, html: { class: 'subForm' } do |f|
          .form-controls
          = f.email_field :email, required: true, class: 'subButton email', :placeholder => "sam@sample.com"
          = f.submit 'Send message', class: "subButton subscribe"
    
