.subscribePlate{
	width: 500px;
	margin: 17% auto;
	.subHead{
		  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
	}
	.subDesc{
		  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 25px;
	}
	.subForm{
		display: flex;
		align-items: center;
	}
	.subButton{
		height: 44px;
  		border: none;
  	}
	.email{
		width: 75%;
	background: #FDFCFB;
	font-family: inherit;
	color: #737373;
	letter-spacing: 1px;
	text-indent: 5%;
	border-radius: 5px 0 0 5px;
	}
	.subscribe{
		  width: 25%;
	  height: 46px;
	  background: #E86C8D;
	  font-family: inherit;
	  font-weight: bold;
	  color: inherit;
	  letter-spacing: 1px;
	  border-radius: 0 5px 5px 0;
	  cursor: pointer;
	  transition: background .3s ease-in-out;
	}
	#subscribe:hover{
		  background: #d45d7d;
	}
	
	.field_with_errors input{
		border: 1px solid red;
	}
}
